.card {
	background-color: white;
	border-radius: 16px;
	padding: 16px;
	box-shadow: 0px 0px 16px 0px #cfcfcf;
}

.shadow {
	box-shadow: 0px 0px 16px 0px #cfcfcf;
}

.cardTitle {
	color: "#444444";
	margin: 8px;
	margin-top: 16px;
}

.subLabel {
	display: flex;
	box-sizing: border-box;
	font-size: 14px;
	color: slategray;
	margin-left: 4px;
}

.screenContainer {
	display: flex;
	flex-direction: row;
	flex: 1;
	background-color: wheat;
}

.screenContainer:hover {
	background-color: orange;
	opacity: 0.6;
}

.appRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.transparent {
	background-color: transparent;
}

.colorSample {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-bottom: 6px;
	margin-left: 8px;
	background-color: white;
}

.flexRowWrap {
	display: flex;
	flex-wrap: wrap;
}

.flexColWrap {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.flexAlignEnd {
	display: flex;
	align-items: flex-end;
}

.flexBox {
	/* flex: 1; */
	box-sizing: border-box;
	margin: 16px;
	margin-top: 0px;
}

.code {
	color: mediumvioletred;
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.mt8mr30 {
	margin-top: 8px;
	margin-right: 30px;
}

.mt16mr16 {
	margin-top: 16px;
	margin-right: 16px;
}

.repoLink {
	color: dodgerblue;
	text-decoration: none;
}
.repoLink:visited {
	color: dodgerblue;
}
.repoLink:hover {
	color: orange;
}
